index.cjs
index.js
index.d.ts
node_modules
dist
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

.turbo
**/.turbo
**/.eslintcache

.env
.env.full
.env.quickstart
.ipynb_checkpoints

# Screenshots taken during tests
src/tests/data/screenshots/
src/agents/verify-reddit-post/nodes/tests/data/
src/agents/verify-reddit-post/nodes/tests/data/openai_o1_vs_recent_leetcode_questions.json
src/agents/curate-data/nodes/tweets/tests/data/*
src/clients/reddit/.secrets/

# LangGraph API
.langgraph_api

__pycache__/
.mypy_cache/
.ruff_cache/